<div class = 'cont'>
    <div class = 'header'>
        <h1> <%= @task.title %> </h1>
        <h5> Due on <%= @task.date %> </h5>
    </div>
    <div class = 'description'>
        <p> <%= @task.body %> </p>
    </div>
</div>


