<div class = 'hero'>
    <h1 class = 'hero-title'>Welcome to Daily Dues</h1>
    <p class = 'description'> This app will help you keep track of your daily tasks and maximize your time-management! </p>
    <footer>
        <a href='https://pngtree.com/free-backgrounds'>free background photos from pngtree.com</a>
    </footer>
</div>